<div class="center">
	<div id="display">{{calc.Answer}}</div>
	<div>
		<input type="button" value="7" id="btnStandard" ng-click="calc.Parrot(7)">
		<input type="button" value="8" id="btnStandard" ng-click="calc.Parrot(8)">
		<input type="button" value="9" id="btnStandard" ng-click="calc.Parrot(9)">
		<input type="button" value="*" id="btnStandard" ng-click="calc.Parrot('*')">
	</div>
	<div>
		<input type="button" value="4" id="btnStandard" ng-click="calc.Parrot(4)">
		<input type="button" value="5" id="btnStandard" ng-click="calc.Parrot(5)">
		<input type="button" value="6" id="btnStandard" ng-click="calc.Parrot(6)">
		<input type="button" value="/" id="btnStandard" ng-click="calc.Parrot('/ ')">
		<input type="button" value="c" id="btnVert" ng-click="calc.Parrot('0')">
	</div>
	<div>
		<input type="button" value="1" id="btnStandard" ng-click="calc.Parrot(1)">
		<input type="button" value="2" id="btnStandard" ng-click="calc.Parrot(2)">
		<input type="button" value="3" id="btnStandard" ng-click="calc.Parrot(3)">
		<input type="button" value="+" id="btnStandard" ng-click="calc.Parrot('+')">

	</div>
	<div>
		<input type="button" value="0" id="btn0" ng-click="calc.Parrot(0)">
		<input type="button" value="." id="btnStandard" ng-click="calc.Parrot('.')">
		<input type="button" value="-" id="btnStandard" ng-click="calc.Parrot('-')">
		<input type="button" value="=" id="btnVert" ng-click="calc.Parrot('=')">
	</div>

</div>